appdirs==1.4.4
atomicwrites==1.4.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
docstring-to-markdown==0.15
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jsonpointer==2.1
MarkupSafe==3.0.2
parso==0.8.4
pluggy==1.5.0
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.15
PyQt5_sip==12.16.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.15
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.0
requests==2.32.3
setuptools==69.5.1
ujson==5.10.0
urllib3==2.2.3
Werkzeug==3.1.3
wheel==0.43.0
